<img
  data-test-edit-icon
  class="w-6 right-4 absolute"
  src="/edit-18.svg"
  alt="Edit todo"
/>
<form class="flex flex-col items-center">
  <label class="w-min">
    <input
      data-test-input-title
      type="text"
      placeholder="Change the title"
      name="todoTitle"
      value={{@todoChangeset.todoTitle}}
      class="text-center text-5xl font-extralight"
      {{on "input" this.handleChangeTodo}}
      {{on "focusout" this.handleEdit}}
    />
  </label>
  <label class="my-4 w-min">
    <textarea
      data-test-input-description
      placeholder="Write a description..."
      name="todoDescription"
      maxlength="160"
      rows="6"
      cols="50"
      value={{@todoChangeset.todoDescription}}
      class="border border-neutral-200 rounded-lg resize-none p-2 text-lg font-extralight"
      {{on "input" this.handleChangeTodo}}
      {{on "focusout" this.handleEdit}}
    />
  </label>

  <label class="mb-4 w-min text-2xl font-extralight">
    Due Date:
    <input
      data-test-input-date
      type="date"
      name="todoDueDate"
      min={{this.today}}
      class="border border-neutral-200 rounded-lg p-2 text-lg font-extralight"
      value={{@todoChangeset.todoDueDate}}
      {{on "input" this.handleChangeTodo}}
      {{on "focusout" this.handleEdit}}
    />
  </label>
  {{#if
    (and
      @todoChangeset.todoDueDate
      (gt
        (moment-diff @todoChangeset.todoDueDate this.today precision="days") 0
      )
    )
  }}
    <p class="mb-4 text-xl font-extralight text-red-300">The todo has expired</p>
  {{/if}}

  {{#if
    (gte (moment-diff this.today @todoChangeset.todoDueDate precision="days") 1)
  }}
    <div>
      <p class="text-lg">Notification:</p>
      <div class="flex flex-row">
        <label data-test-label-notif-one-day class="flex flex-row m-4">
          One day before
          <input
            class="ml-2"
            type="checkbox"
            name="notification.oneDay"
            checked={{@todoChangeset.todoNotification.oneDay}}
            {{on "input" this.handleChangeTodo}}
            {{on "focusout" this.handleEdit}}
          />
        </label>

        {{#if
          (gte
            (moment-diff this.today @todoChangeset.todoDueDate precision="days")
            3
          )
        }}
          <label data-test-label-notif-three-days class="flex flex-row m-4">
            Three days before
            <input
              class="ml-2"
              type="checkbox"
              name="notification.threeDays"
              checked={{@todoChangeset.todoNotification.threeDays}}
              {{on "input" this.handleChangeTodo}}
              {{on "focusout" this.handleEdit}}
            />
          </label>
        {{/if}}

        {{#if
          (gte
            (moment-diff this.today @todoChangeset.todoDueDate precision="days")
            7
          )
        }}
          <label data-test-label-notif-week class="flex flex-row m-4">
            One week before
            <input
              class="ml-2"
              type="checkbox"
              name="notification.week"
              checked={{@todoChangeset.todoNotification.week}}
              {{on "input" this.handleChangeTodo}}
              {{on "focusout" this.handleEdit}}
            />
          </label>
        {{/if}}

        {{#if
          (gte
            (moment-diff this.today @todoChangeset.todoDueDate precision="days")
            30
          )
        }}
          <label data-test-label-notif-month class="flex flex-row m-4">
            One month before
            <input
              class="ml-2"
              type="checkbox"
              name="notification.month"
              checked={{@todoChangeset.todoNotification.month}}
              {{on "input" this.handleChangeTodo}}
              {{on "focusout" this.handleEdit}}
            />
          </label>
        {{/if}}

      </div>
    </div>
  {{/if}}
</form>