<section class="flex justify-around text-slate-400 underline">
  <LinkTo
    class="hover:text-white"
    @route={{this.router.currentRouteName}}
    @query={{hash kindOfFilter="ALL"}}
    {{on "click" (fn this.filterBy this.typeOfFilter.ALL)}}
  >
    All
  </LinkTo>

  <LinkTo
    class="hover:text-white"
    @route={{this.router.currentRouteName}}
    @query={{hash kindOfFilter="ACTIVE"}}
    {{on "click" (fn this.filterBy this.typeOfFilter.ACTIVE)}}
  >
    Active
  </LinkTo>

  <LinkTo
    class="hover:text-white"
    @route={{this.router.currentRouteName}}
    @query={{hash kindOfFilter="COMPLETED"}}
    {{on "click" (fn this.filterBy this.typeOfFilter.COMPLETED)}}
  >
    Completed
  </LinkTo>
</section>