<LinkTo
  data-test-card-wrapper-link
  @route="todo"
  @query={{hash kindOfFilter=this.filter}}
  @model={{@todo.id}}
>
  <div
    class="group px-4 pt-3 text-white ease-out duration-300 hover:bg-slate-400 hover:text-black"
  >
    <section class="flex justify-between align-middle">
      <form>
        <label class="flex flex-row">
          <input
            class="mr-2 w-4"
            type="checkbox"
            name="todoChecked"
            checked={{this.changeset.todoChecked}}
            {{on "click" this.handleChangeDone}}
          />
          <h2
            class={{if
              (and
                @todo.todoDueDate
                (gt
                  (moment-diff @todo.todoDueDate this.today precision="days") 0
                )
              )
              "text-red-400 group-hover:text-red-700"
            }}
          >{{@todo.todoTitle}}</h2>
        </label>
      </form>
      <button
        data-test-delete-button
        type="button"
        class="rounded-xl p-1 ease-out duration-75 hover:bg-white invisible group-hover:visible w-6 h-min"
        {{on "click" this.removeTodo}}
      >
        <img data-test-delete-icon src="/delete-24.svg" alt="Delete todo" />
      </button>
    </section>

    <hr class="border-red-400 mt-3" />
  </div>
</LinkTo>