<section>
  <div
    class="group pt-3 text-black ease-out rounded-sm duration-300 hover:bg-slate-300"
  >
    <section class="pl-2 grid grid-cols-5 text-left">
      <h3>{{@todo.todoTitle}}</h3>
      <h3>{{@todo.todoDescription}}</h3>
      <h3>{{@todo.todoDueDate}}</h3>
      {{#if @todo.todoChecked}}
        <img class="" src="/done-24.svg" alt="Todo done" />
      {{else}}
        <img src="/highlight-off-24.svg" alt="Todo not done yet" />
      {{/if}}
      <img
        class="text-right block mr-10 p-1 m-auto rounded-lg duration-300 hover:bg-slate-100"
        src="/more-vert-24.svg"
        alt="Actions"
        {{on "click" this.switchPopUpActions}}
      />
    </section>

    <hr class="border-slate-300 mt-3" />
  </div>

  {{#if this.popUpActionsIsOpened}}
    <div class="w-min relative left-full bottom-14">
      <ModalDialog
        @renderInPlace={{true}}
        @clickOutsideToClose={{true}}
        @containerClass="absolute"
      >
        <div>
          <button type="button" {{on "click" this.switchPopUpEdit}}>
            Edit
          </button>
        </div>
      </ModalDialog>
    </div>
  {{/if}}
</section>

{{#if this.popUpEditIsOpened}}
  <ModalDialog @clickOutsideToClose={{true}}>
    <TodoDetail @todoChangeset={{this.changeset}} />
  </ModalDialog>
{{/if}}